# Dependencies
node_modules/
.expo/

# Production
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Android
android/.gradle
android/app/build/
android/build/
*.apk
*.keystore

# iOS
ios/build/
Pods/
